/** @format */

#aboutus {
  background-color: rgba(144, 142, 136);
}

#aboutus-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://cdn.qalara.com/images/Img_AbouUs_1x_Full_Width_Banner.jpg");
  background-color: #4e4848;
  background-position: center;
  min-width: 100%;
  max-width: 100%;
  height: 42vh;
  max-height: 42vh;
}

@media only screen and (min-width: 768px) {
  #aboutus-banner .banner-text {
    position: absolute;
    left: 10%;
    top: 27vh;
    font-family: Butler;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 72px;
    color: #f9f7f2;
  }

  #aboutus-banner .banner-text-small {
    font-family: senregular;
    font-size: 14.5px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  #aboutus-body-parent .aboutus-body-text-heading {
    font-family: senbold;
    /* font-style: normal; */
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 0;
    /* or 121px */
    /* letter-spacing: 0.01em; */
    color: #ffffff;
    text-transform: uppercase;
  }
  #aboutus-body-parent .aboutus-body-text-para {
    font-family: senregular;
    /* font-style: normal; */
    font-weight: normal;
    font-size: 10pt;
    /* or 121px */
    /* letter-spacing: 0.01em; */
    color: #ffffff;
    text-align: justify;
    margin-bottom: 20px;
  }
  #aboutus-body-parent .section-content.center-align.core-value {
    padding: 0px 160px;
  }
  #aboutus-body-parent .aboutus-svg-bg {
    margin-top: -50px;
  }
  #aboutus-body-parent .aboutus-full.india-map {
    width: 70%;
  }
}

@media only screen and (max-width: 767px) {
  #aboutus-banner {
    height: 30vh;
    max-height: 30vh;
  }
  #aboutus-banner .banner-text {
    position: absolute;
    left: 50%;
    top: 22vh;
    font-family: Butler;
    font-weight: 300;
    font-size: 36px;
    color: #f9f7f2;
    transform: translate(-50%);
  }

  #aboutus-banner .banner-text-small {
    font-family: senregular;
    font-size: 12.5px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  #aboutus-body-parent .aboutus-body-text-heading {
    font-family: senbold;
    /* font-style: normal; */
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 0;
    /* or 121px */
    /* letter-spacing: 0.01em; */
    color: #ffffff;
    text-transform: uppercase;
  }
  #aboutus-body-parent .aboutus-body-text-para {
    font-family: senregular;
    /* font-style: normal; */
    font-weight: normal;
    font-size: 10pt;
    /* or 121px */
    /* letter-spacing: 0.01em; */
    color: #ffffff;
    /* text-align: justify; */
    margin-bottom: 20px;
  }
  #aboutus-body-parent .aboutus-full.india-map {
    width: 90%;
  }
}
#aboutus-body-parent .landing-container {
  justify-content: center;
  padding: 80px 60px;
}
#aboutus-body-parent .curated-fold {
  width: 100%;
  margin-top: 0px;
}
#aboutus-body-parent .section-heading.after::after {
  display: inline-block;
  content: "";
  border-top: 2px solid #f9f7f2;
  width: 250px;
  margin-left: 20px;
  vertical-align: middle;
}
#aboutus-body-parent .section-heading.before::before {
  display: inline-block;
  content: "";
  border-top: 2px solid #f9f7f2;
  width: 250px;
  margin-right: 20px;
  vertical-align: middle;
}
#aboutus-body-parent .center-align-container {
  text-align: center;
}
#aboutus-body-parent .section-heading {
  font-family: Butler;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.002em;
  color: #f9f7f2;
  margin-bottom: 24px;
}
#aboutus-body-parent .section-content {
  font-family: senregular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.002em;
  color: #f9f7f2;
}
#aboutus-body-parent .section-content p {
  margin-bottom: 20px;
}
#aboutus-body-parent .highlight-text {
  font-family: Butler;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #6b6b6b;
}
#aboutus-body-parent .aboutus-container {
  margin-bottom: 60px;
}
#aboutus-body-parent .section-content.center-align {
  padding: 0px 192px;
}
#aboutus-body-parent .aboutus-press-crousel {
  background-color: transparent;
  padding: 0px 60px;
}
#aboutus-body-parent .aboutus-press-crousel.press-crousel .press-arrow {
  top: 22px;
}
#aboutus-body-parent .scroller-container {
  display: none;
}
#aboutus-body-parent .about-whyus {
  font-family: senregular;
  font-style: normal;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  color: #f9f7f2;
  margin-top: 100px;
  padding: 20px 20px 0px;
}
#aboutus-body-parent .wework {
  font-family: Butler;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #f9f7f2;
}
#aboutus-body-parent .aboutus-img1 {
  padding-right: 50px;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}
#aboutus-body-parent .fortune-head {
  font-family: Butler;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #d9bb7f;
}
#aboutus-body-parent .about-status {
  font-family: Butler;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  color: #f9f7f2;
}
#aboutus-body-parent .qa-flex-row {
  justify-content: space-between;
}
.qa-pad-rgt-100 {
  padding-right: 100px;
}
#aboutus-body-parent .news-para {
  font-family: senregular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.25px;
  color: #f9f7f2;
  padding-top: 16px;
}
#aboutus-body-parent .news-article {
  font-family: senregular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  border-bottom: 1px solid #d9bb7f;
  padding-bottom: 2px;
  color: #d9bb7f;
  cursor: pointer;
  margin-top: 10px;
}
#aboutus-body-parent .press-blk {
  padding: 0px 30px;
}
#aboutus-body-parent .press-blk img {
  display: inline-block;
}
.aboutus-btn .button {
  padding: 16px 16px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  margin: 0px;
  width: 281px;
  cursor: pointer;
}
.aboutus-btn .button.qa-primary-btn {
  background: #d9bb7f;
  margin-right: 10px;
}
.aboutus-btn .button.qa-secondary-btn {
  background-color: #f2f0eb;
  margin-left: 10px;
}
.aboutus-btn .sign-up-text {
  font-size: 17px;
  line-height: 140%;
}
.aboutus-btn {
  padding-top: 15px;
}
#aboutus-body-parent .highlight-text.qa-fs-36 {
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  margin-top: 70px;
}
#aboutus-body-parent .aboutus-step {
  font-family: Butler;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #c2b7a2;
}
#aboutus-body-parent .aboutus-video {
  font-family: senregular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #f9f7f2;
  padding: 16px;
  border: 1px solid #f9f7f2;
  box-sizing: border-box;
  border-radius: 45px;
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
}
#aboutus-body-parent .aboutus-step-num {
  font-family: Butler;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 140%;
  color: #f9f7f2;
}
#aboutus-body-parent .aboutus-detail {
  font-family: senregular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(249, 247, 242, 0.8);
}
#aboutus-body-parent .aboutus-mr {
  margin-top: 20px;
  margin-right: 20px;
}
#aboutus-body-parent .aboutus-hw {
  width: 50%;
  margin-top: 20px;
}
#aboutus-body-parent .aboutus-pr-1 {
  padding-right: 10px;
  padding-bottom: 10px;
}
#aboutus-body-parent .aboutus-pl-1 {
  padding-left: 10px;
  padding-bottom: 10px;
}
#aboutus-body-parent .abtus-img-aditi::after {
  padding-bottom: 115%;
}
#aboutus-body-parent .abtus-img-team::after {
  padding-bottom: 80.5%;
}
@media only screen and (max-width: 768px) {
  #aboutus-body-parent .aboutus-press-crousel {
    padding: 0px;
  }
  #aboutus-body-parent .landing-container {
    padding: 40px 30px;
  }
  #aboutus-body-parent .aboutus-img1 {
    padding: 0px 30px;
  }
  #aboutus-body-parent .section-heading {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  #aboutus-body-parent .section-heading.after::after,
  #aboutus-body-parent .section-heading.before::before {
    width: 100px;
  }
  #aboutus-body-parent .section-content {
    text-align: center;
  }
  #aboutus-body-parent .section-content.qa-txt-alg-lft {
    text-align: left;
    margin-bottom: 30px;
  }
  #aboutus-body-parent .section-content.center-align {
    padding: 0px;
  }
  #aboutus-body-parent .qa-pad-rgt-100 {
    padding-right: 0px;
  }
  #aboutus-body-parent .aboutus-container {
    margin-bottom: 20px;
  }
  #aboutus-body-parent .aboutus-container.news-section {
    margin-bottom: 0px;
  }
  .aboutus-btn .button.qa-primary-btn {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 20px;
  }
  .aboutus-btn .button.qa-secondary-btn {
    margin-left: 0px;
    width: 100%;
  }
  #aboutus-body-parent .highlight-text {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  #aboutus-body-parent .section-content p.highlight-text {
    margin-bottom: 10px;
  }
  #aboutus-body-parent .line-divider {
    display: inline-block;
    content: "";
    border-top: 2px solid #f9f7f2;
    width: 100px;
    vertical-align: middle;
    margin-bottom: 25px;
  }
  #aboutus-body-parent .aboutus-full {
    width: 100%;
  }
  #aboutus-body-parent .aboutus-pr-1 {
    padding-right: 5px;
    padding-bottom: 5px;
  }
  #aboutus-body-parent .aboutus-pl-1 {
    padding-left: 5px;
    padding-bottom: 10px;
  }
  #aboutus-body-parent .fortune-head {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 0px 30px;
  }
  #aboutus-body-parent .about-status {
    font-size: 24px;
    line-height: inherit;
  }
  #aboutus-body-parent .qa-flex-row div {
    text-align: left;
  }
  #aboutus-body-parent .about-whyus {
    margin-top: 25px;
    font-size: 14px;
    padding: 0px;
    font-family: senregular;
    font-style: normal;
    line-height: 160%;
    text-align: center;
    color: #f9f7f2;
  }
  #aboutus-body-parent .highlight-text.qa-fs-36 {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-top: 10px;
  }
  #aboutus-body-parent .aboutus-step.qa-fs-20 {
    font-size: 17px;
    text-align: center;
  }
  #aboutus-body-parent .aboutus-step.qa-fs-24 {
    font-size: 20px;
    text-align: center;
  }
  #aboutus-body-parent .aboutus-video {
    width: 100%;
    margin: 0 auto;
  }
  #aboutus-body-parent .scroll-container .image-wrp {
    min-width: 180px;
  }
  #aboutus-body-parent .abtus-img-aditi::after {
    padding-bottom: 78%;
  }
}
#aboutus-body-parent .section-content.mr-top-6 {
  margin-top: 60px;
}
#aboutus-body-parent .aboutus-step.qa-fs-24 {
  font-style: italic;
  margin-top: 10px;
}
#aboutus-body-parent .qa-pad-rgt-2 {
  padding-right: 25px;
}
#aboutus-body-parent .aboutus-full {
  width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
  #aboutus-body-parent .aboutus-step.qa-fs-24 {
    font-size: 18px;
  }
}
#aboutus-body-parent .aboutus-svg-bg {
  background-image: url("../../public/filestore/bird-vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#aboutus-body-parent .qa-pad-rgt-5 {
  padding-right: 50px;
}
#aboutus-body-parent .new-read-article {
  margin-top: 10px;
  margin-bottom: 10px;
}
#aboutus-body-parent .mobile-press-crousel-container {
  margin-bottom: 40px;
}
@media only screen and (max-device-width: 1024px) {
  #aboutus-body-parent .section-heading.after::after {
    width: 160px;
  }
  #aboutus-body-parent .section-heading.before::before {
    width: 160px;
  }
}
#aboutus-body-parent .highlight-text.qa-fs-18 {
  padding-top: 10px;
  font-size: 18px;
  line-height: 25px;
}
#aboutus-body-parent .section-heading.qalara-heading {
  line-height: 32px;
}
