/** @format */
.category-carousel.craft-carousel {
    padding: 30px 28px 50px;
}
.craft-carousel .slider-right {
    text-align: left;
}
.craft-carousel .category-heading-section{
  padding-right: 0;
  position: relative;
}
.craft-carousel .category-heading-section .button-show-more{
  right: 0;
  padding-right: 0;
}
.craft-carousel .category-slider .slick-slide{
  margin: 0 30px;
}
.craft-carousel .category-slider .slick-list{
  margin: 0 -30px;
}
.craft-carousel p.slider-right-heading {
  font-size: 20px;
  line-height: 24px;
  font-family: 'Butler';
  margin-bottom: 5px;
}
.craft-carousel .slider-right-para {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  margin-bottom: 5px;
  font-family: 'senregular';
}
.craft-carousel .qa-rel-pos{
  margin-bottom: 15px;
}
.craft-carousel .craft-action-container{
  margin-top: 25px;
  display: flex;
  justify-content: space-between,

}
.craft-carousel .explore-text{
  font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #874439;
    cursor: pointer;
    font-family: 'senregular';
    margin-left: 2px;
}

@media only screen and (max-width: 765px){
  .category-carousel.craft-carousel {
    padding: 20px 23px 28px;
  }
  .craft-carousel .slider-right-para{
    font-size: 12px;
    line-height: 14px;
  }
  .craft-carousel .craft-action-container{
    position: absolute;
    right: 0;
    bottom: -30px;
  }
}

