#error500 {
  background-color: #332f2f;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://cdn.qalara.com/images/Img_Bird_Outline.png");
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-position: center;
  min-width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #error500 .headings {
    color: #ffffff;
    padding: 17vh 0 0 0;
    font-size: 80px;
    margin: 0;
  }

  #error500 .paragraph {
    color: #ffffff;
    padding: 3vh 0 0 0;
    font-size: 18px;
    margin: auto;
    width: 45vw;
  }
}

@media only screen and (max-width: 767px) {
  #error500 .headings {
    color: #ffffff;
    padding: 17vh 0 0 0;
    font-size: 50px;
    margin: 0;
  }

  #error500 .paragraph {
    color: #ffffff;
    padding: 3vh 0 0 0;
    font-size: 15px;
    margin: auto;
    width: 80vw;
  }
}
