/** @format */

#faq {
  background-color: rgba(144, 142, 136);
}

#faq-banner {
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://cdn.qalara.com/images/banner_top.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://cdn.qalara.com/images/Img_Faq_1x_Full_Width_Banner.jpg");
  background-color: #4e4848;
  background-position: center;
  min-width: 100%;
  max-width: 100%;
  height: 45vh;
  max-height: 45vh;
}

#faq a {
  color: #fff;
}
.buyer-faq-section {
  background: #f9f7f2;
  padding-bottom: 120px;
}
.buyer-faq-section .ant-collapse.ant-collapse-borderless {
  width: 65%;
  margin: 0 auto;
  background: #f9f7f2;
  padding-top: 10px;
}
.buyer-faq-section .panel-title .ant-collapse-header {
  font-family: senregular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.575;
  letter-spacing: 1.4px;
  color: #373737;
  /* text-transform: uppercase; */
  padding: 20px 0px;
}
.buyer-faq-section .panel-body {
  font-family: senregular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.575;
  color: #4e4848;
}
.buyer-faq-section
  .ant-collapse-icon-position-right
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow {
  right: 0px;
  left: auto;
  top: 45%;
}
.buyer-faq-section .panel-header {
  font-family: senregular;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;
  color: #373737;
  padding-top: 60px;
  margin: 0 auto;
  padding-bottom: 15px;
}
.buyer-faq-section .help-section {
  padding: 24px 16px;
  width: 65%;
  margin: 0 auto;
}
.qalara-pronounciation-text {
  font-family: senregular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(249, 247, 242, 0.6);
  margin-top: 5px;
}
.buyer-faq-section .panel-header.main-heading {
  width: 65%;
  padding-bottom: 2px;
}

@media only screen and (min-width: 768px) {
  #faq-banner .banner-text {
    position: absolute;
    left: 10%;
    /* right: 56.44%; */
    top: 20vh;
    font-family: Butler;
    /* font-style: normal; */
    font-weight: 300;

    /* letter-spacing: 0.01em; */
    color: #ffffff;
  }

  #faq-banner .banner-text .banner-title {
    font-size: 48px;
  }

  #faq-banner .banner-text-small {
    font-family: senregular;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  #faq-body-parent {
    padding-top: 8vh;
    padding-bottom: 8vh;
    margin: auto;
    width: 65vw;
  }

  #faq-body-parent .faq-body-text-heading {
    font-family: senbold;
    /* font-style: normal; */
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 20px;
    /* or 121px */
    /* letter-spacing: 0.01em; */
    color: #ffffff;
    text-transform: uppercase;
  }
  #faq-body-parent .faq-body-text-para {
    font-family: senregular;
    /* font-style: normal; */
    font-weight: normal;
    font-size: 10pt;
    /* or 121px */
    /* letter-spacing: 0.01em; */
    color: #ffffff;
    text-align: justify;
    margin-bottom: 20px;
  }

  #faq-body-parent .faq-body-question {
    font-family: senbold;
    /* font-style: normal; */
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 10px;
    /* or 121px */
    /* letter-spacing: 0.01em; */
    color: #332f2f;
  }
}

@media only screen and (max-width: 767px) {
  #faq-banner .banner-text {
    position: absolute;
    left: 10%;
    /* right: 39.44%; */
    top: 22vh;
    font-family: Butler;
    /* font-style: normal; */
    font-weight: 300;
    /* letter-spacing: 0.01em; */
    color: #ffffff;
  }
  #faq-banner .banner-text .banner-title {
    font-size: 36px;
  }

  #faq-banner .banner-text-small {
    font-family: senregular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  #faq-body-parent .faq-body-question {
    font-family: senbold;
    /* font-style: normal; */
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 10px;
    /* or 121px */
    /* letter-spacing: 0.01em; */
    color: #ffffff;
  }

  #faq-body-parent {
    padding-top: 8vh;
    padding-bottom: 8vh;
    margin: auto;
    width: 65vw;
  }

  #faq-body-parent .faq-body-text-heading {
    font-family: senbold;
    /* font-style: normal; */
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 0;
    /* or 121px */
    /* letter-spacing: 0.01em; */
    color: #ffffff;
    text-transform: uppercase;
  }
  #faq-body-parent .faq-body-text-para {
    font-family: senregular;
    /* font-style: normal; */
    font-weight: normal;
    font-size: 10pt;
    /* or 121px */
    /* letter-spacing: 0.01em; */
    color: #ffffff;
    /* text-align: justify; */
    margin-bottom: 20px;
  }
  .buyer-faq-section .panel-header.main-heading {
    width: 100%;
    padding: 60px 30px 2px;
  }
  .buyer-faq-section .ant-collapse.ant-collapse-borderless {
    width: 100%;
    padding: 0px 30px;
  }
  .buyer-faq-section .help-section {
    padding: 24px 30px;
    width: 100%;
  }
  .buyer-faq-section .panel-header {
    font-size: 20px;
  }
}
