/** @format */
@media only screen and (min-width: 1300px) {
  .home-signup-btn a.button {
    width: 285px;
  }
}
@media only screen and (min-width: 1600px) {
  .home-signup-btn a.button {
    width: 320px;
  }
  .home-signup-btn .sign-up-text {
    font-size: 20px !important;
  }
  .home-banner-head-text {
    font-size: 65px !important;
  }
  .home-banner-small-text {
    font-size: 22px !important;
    line-height: 30px !important;
  }
  .second-img-head {
    font-size: 55px !important;
    line-height: 130% !important;
  }
  .second-img-subhead {
    font-size: 28px !important;
    line-height: 140% !important;
  }
}
.hot-weel-crousel {
  background: #bcb29c;
  padding: 28px 60px 58px;
}
.hot-weel-header {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Butler";
}
.hot-weel-wrp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tastimonial-wrapper {
  position: relative;
  background: #332f2f;
  color: #f9f7f2;
  padding: 50px 45px;
}
.tastimonial-wrapper .cart-banner-title {
  font-size: 20px;
  width: 70%;
  margin-bottom: 10px;
}

.tastimonial-wrapper span.cart-banner-copy {
  font-family: "senregular";
  color: rgba(249, 247, 242, 0.6);
}
.tastimonial-wrapper .cart-arrow {
  color: #f9f7f2;
}
.tastimonial-wrapper .slick-slide > div {
  display: flex;
  align-items: center;
}
.press-crousel .press-web-wrp a:first-child {
  margin-left: -135px;
  margin-right: 250px;
}

.pointer {
  cursor: pointer;
}
.second-img-head {
  font-size: 50px;
  line-height: 130%;
  color: #f9f7f2;
}
.second-img-subhead {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.31px;
}
#banner-container {
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://cdn.qalara.com/images/banner_top.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  /*background-image: url("https://cdn.qalara.com/images/Img_Main_1x_Full_Width_Banner.jpg");*/
  background-color: #4e4848;
  background-position: center;
  min-width: 100%;
  max-width: 100%;
  height: calc(100vh - 70px);
  max-height: 100vh;
  position: relative;
}

.steps-container {
  font-size: 12px;
}
.press-crousel {
  background-color: #e9e4da;
  position: relative;
  padding: 40px 60px;
}
.press-crousel a {
  display: flex !important;
  justify-content: center;
  align-self: center;
}
.press-crousel a.press-1 {
  /*margin-bottom: -13px;*/
}
.press-crousel .press-arrow {
  position: absolute;
  z-index: 9999;
  top: 105px;
  font-size: 40px;
}
.mobile-press-crousel-container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.press-crousel .press-left-arrow {
  left: 30px;
}

.press-crousel .press-arrow.press-right-arrow {
  right: 35px;
}
.press-crousel .press-header {
  text-align: center;
  font-family: "Butler";
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.01em;
  margin-bottom: 15px;
  color: #332f2f;
}
.press-crousel img {
  height: 80px;
  /*transform: scale(.7);*/
}
.home-signup-btn {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 50%;
  z-index: 999;
  transition: all 0.2s ease-in-out;
}
.home-signup-btn a.button {
  padding: 16px 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  margin: 0px 15px;
  width: 285px;
}
.home-signup-btn a.button.qa-primary-btn {
  background: #d9bb7f;
}
.home-signup-btn a.button.qa-secondary-btn {
  background-color: #f2f0eb;
}
.home-signup-btn .sign-up-text {
  font-size: 17px;
  line-height: 140%;
}
.home-signup-btn .sign-up-text-icon {
  line-height: 0;
  margin-right: 12px;
}
.home-banner-carousel {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.home-first-fold .scroller-container {
  position: absolute;
  bottom: 0;
  width: 200px;
  right: 0;
  margin: 0 56px 50px 0;
  color: #fff;
}
.home-banner-head-text {
  font-size: 60px;
  line-height: 130%;
  font-family: "Butler";
  width: 52%;
  position: absolute;
  top: 11%;
  transform: translateX(-50%);
  left: 50%;
  z-index: 9;
  transition: all 0.2s ease-in-out;
}
.home-banner-small-text {
  font-size: 18px;
  line-height: 25px;
  width: 50%;
  font-family: "senregular";
  position: absolute;
  transform: translateX(-50%);
  top: 65%;
  left: 50%;
  z-index: 9;
}
.home-banner-carousel-wrap {
  position: relative;
  height: calc(100vh - 70px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 100%;
}
.home-banner-carousel .slick-slider {
  height: calc(100vh - 70px);
  color: #fff;
  text-align: center;
}
.home-banner-carousel span.home-banner-playvideo {
  height: 128px;
  width: 128px;
  cursor: pointer;
  display: flex;
  position: absolute;
  transform: translateX(-50%);
  top: 35%;
  left: 50%;
  cursor: pointer;
  z-index: 9;
}
.active-banner:after {
  content: "";
  /*background: linear-gradient(360deg, rgba(25, 25, 25, 0.3) -10.1%, rgba(78, 72, 72, 0) 109.77%);*/
  height: calc(100vh - 70px);
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 0;
  left: 0;
}
.home-banner-video-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;
}
video.home-banner-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  max-width: none;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}
.video-action-btn {
  right: 63px;
  color: #fff;
  top: 88px;
  z-index: 99;
  height: 43px;
  width: 43px;
  text-align: center;
  background: #332f2f;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-banner-video-reset {
  position: absolute;
}
.video-action-wrap {
  display: flex;
  width: auto;
  position: absolute;
  bottom: 37px;
  left: 27px;
}
.video-action-wrap span.video-action-btn {
  margin-right: 13px;
}
.disable {
  visibility: hidden;
}
svg.icn-spinner {
  width: 131px;
  position: absolute;
  top: -2px;
  left: -2px;
  height: 131px;
  x: 0px;
  y: 0px;
}
svg.icn-spinner circle {
  fill: transparent;
  stroke: transparent;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-dasharray: 411;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.activeCircle svg.icn-spinner circle,
.disable svg.icn-spinner circle {
  animation: spinner 3s 1;
  stroke: #d9bb75;
}
@keyframes spinner {
  0% {
    stroke-dashoffset: 411;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.home-banner-carousel .slick-slide > div {
  display: block;
}
@media only screen and (max-width: 1280px) {
  .home-banner-head-text {
    font-size: 55px !important;
    line-height: 130% !important;
  }
  .home-banner-small-text {
    font-size: 15px !important;
  }
  .home-signup-btn .sign-up-text {
    font-size: 15px;
    letter-spacing: 0.06px;
  }
  .second-img-head {
    font-size: 45px !important;
    line-height: 130% !important;
  }
  .second-img-subhead {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 1100px) {
  .hot-weel-crousel img {
    width: 200px;
  }
}

@media only screen and (min-width: 768px) {
  #banner-container .bird-vector {
    position: absolute;
    background: url("https://cdn.qalara.com/images/Img_Bird_Outline.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* min-width: calc(100% - 8.19%) ;
    max-width: calc(100% - 8.19%);
    height: calc(100vh - 2.48vh);
    max-height: calc(100vh - 2.48vh); */
    min-width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    /* left:  8.19%;
top: 2.48vh; */
    opacity: 0.9;
  }

  #banner-container .banner-text {
    position: absolute;
    left: 8.62%;
    right: 52.44%;
    top: 23.93vh;
    font-family: Butler;
    /* font-style: normal; */
    font-weight: 300;
    font-size: 60px;
    line-height: 110%;
    /* letter-spacing: 0.01em; */
    color: #ffffff;
  }

  #banner-container .banner-text-small {
    font-family: senregular;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.31px;
    color: #ffffff;
    margin-top: 30px;
  }

  #banner-container .banner-button-circle {
    left: 45%;
    transform: translateX(-50%);
    top: 68%;
    width: 110px;
    height: 110px;
    background: #d9bb7f;
    border-color: #d9bb7f;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px;
  }
  #banner-container .banner-button-circle.b-sellers {
    background: #c2b7a2;
    border-color: #c2b7a2;
  }
  #banner-container .banner-button-circle.b-invite {
    background: #ac9d80;
    border-color: #ac9d80;
  }

  #banner-container .banner-button-circle-text {
    font-family: senregular;
    /* white-space: pre-wrap; */
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #191919;
  }
  #banner-container .banner-button-circle-text .banner-sub-text {
    font-size: 11px;
    color: rgba(51, 47, 47, 0.8);
    text-transform: none;
    padding-top: 4px;
    line-height: 110%;
    font-weight: 400;
  }
  #q-source-banner {
    position: relative;
    background-color: rgba(216, 209, 194, 0.5);
    /* background-image: url("https://cdn.qalara.com/images/Img_Bird_Outline.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 72vh; */
    text-align: left;
    padding: 40px 40px 0px;
    color: #191919;
    font-family: senregular;
  }
  #q-source-buttons {
    position: relative;
    background-color: rgba(216, 209, 194, 0.5);
    color: #191919;
    text-align: center;
    padding: 0vh 5vw 5vh;
  }

  /* #q-source-banner {
  padding-top: 0px;
  } */
  #q-source-banner .banner-text {
    font-family: Butler;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.7px;
    /*color: #4E4848;*/
  }
  .steps-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 3%;
    font-size: 14px;
    background: #f2f0eb;
    /* margin: 0px 10px; */
    padding: 20px;
    line-height: 140%;
  }
  .steps-container .qa-next-line {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 10px;
  }

  .source-steps {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex: 1;
    margin: 20px 0 18px 0;
    background: #f2f0eb;
    border-left: 10px solid rgba(216, 209, 194, 0.5);
    border-right: 10px solid rgba(216, 209, 194, 0.5);
  }
  .payment-banner-home-page {
    margin-top: 20px;
  }
  .q-source-title {
    padding: 0px;
  }

  .quote-cta-home-page .send-query-button-text {
    font-size: 14px;
  }

  .source-field-icon1 svg {
    width: 74px;
    height: 40px;
  }
  .source-field-icon2 svg {
    width: 45.47px;
    height: 40px;
  }
  .source-field-icon3 svg {
    width: 68px;
    height: 40px;
  }

  .payment-banner-home-page .send-query-button-text {
    font-size: 14px;
  }
  .q-button-link {
    font-family: senregular;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #87443b;
    text-transform: uppercase;
    margin-top: 15px;
  }
}
.q-source-title {
  width: 100%;
  text-align: center;
}

.q-source-title .banner-text {
  max-width: 100%;
}
.press-web-wrp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*justify-content: space-between;*/
}
@media only screen and (max-width: 768px) {
  .hot-weel-crousel {
    padding: 26px 0 33px 23px;
  }
  .tastimonial-wrapper .cart-banner-title {
    width: 100%;
    font-size: 16px;
  }
  span.cart-banner-copy {
    font-size: 12px;
  }
  .cart-arrow svg {
    height: 13px;
    width: 8px;
  }

  .hot-weel-header {
    font-size: 23px;
    line-height: 38px;
    margin-bottom: 10px;
  }
  #banner-container {
    height: auto;
  }
  video.home-banner-video {
    width: 100%;
  }
  .home-banner-carousel .slick-slider {
    height: auto;
  }
  .home-banner-carousel-wrap {
    position: relative;
    height: auto /*calc(100vh - 70px)*/;
    overflow: hidden;
    background-position: left;
  }
  .press-crousel {
    padding: 15px 28px;
  }
  .press-crousel .press-arrow {
    top: 75px;
  }
  .press-crousel .press-header {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 14px;
  }
  .press-crousel img {
    height: 35px;
    transform: none;
  }
  .press-crousel .mobile-press-crousel-container .mobile-img-wrp:nth-child(2n) {
    margin-top: 30px;
  }
  .home-banner-head-text {
    width: 90%;
    top: 9% !important;
  }
  /*.home-banner-head-text div{
    font-size: 28px !important;
    line-height: 34px !important;
    width: 100%;
  }*/
  .home-banner-small-text {
    width: 88%;
  }
  .home-banner-small-text,
  .home-banner-small-text span {
    bottom: initial;
    top: 60%;
  }
  .home-signup-btn {
    top: 30%;
    /* width: 246px; */
  }
  .home-signup-btn:not(:root:root) {
    width: 265px;
  }
  .home-signup-btn a.button {
    padding: 14px 18px;
    margin-top: 0;
  }
  .home-signup-btn a.button {
    width: 250px;
    margin: 0px;
  }
  .home-signup-btn a.button.qa-primary-btn {
    margin-bottom: 20px;
  }
  /*.home-signup-btn .sign-up-text{
    font-size: 14px;
    letter-spacing: 0.06px;
  }*/
  .scroller-container {
    margin: 0 0 10px 0 !important;
    width: 100% !important;
    font-size: 14px !important;
    justify-content: center !important;
  }
  .video-action-wrap {
    bottom: 111px;
    left: 50%;
    transform: translateX(-50%);
  }
  .home-banner-video-reset {
    position: absolute;
    top: calc(8% + 62px);
    right: 21px;
  }
  .home-banner-carousel span.home-banner-playvideo {
    transform: scale3d(0.8, 0.8, 0.7);
    left: 34%;
  }
}
@media only screen and (max-width: 767px) {
  #banner-container .bird-vector {
    position: absolute;
    background: url("https://cdn.qalara.com/images/Img_Bird_Outline.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* min-width: calc(100% - 8.19%) ;
    max-width: calc(100% - 8.19%);
    height: calc(100vh - 2.48vh);
    max-height: calc(100vh - 2.48vh); */
    min-width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    /* left:  8.19%;
top: 2.48vh; */
    opacity: 0.5;
  }

  #banner-container .banner-text {
    position: absolute;
    left: 9.62%;
    right: 9.62%;
    top: 120px;
    font-family: Butler;
    /* font-style: normal; */
    font-weight: 300;
    font-size: 36px;
    line-height: 110%;
    /* or 121px */
    /* letter-spacing: 0.01em; */
    color: #ffffff;
  }

  #banner-container .banner-text span,
  #banner-container .banner-text-small span {
    display: block;
  }

  #banner-container .banner-text-small strong {
    font-weight: 600;
  }

  #banner-container .banner-text-small {
    font-family: senregular;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-top: 20px;
  }

  #banner-container .banner-button-circle {
    left: 6.5%;
    /* top: 65vh; */
    top: 450px;
    width: 96px;
    height: 96px;
    background: #d9bb7f;
    border-color: #d9bb7f;
    padding: 15px 5px;
    cursor: pointer;
  }

  #banner-container .banner-button-circle-text {
    font-family: senregular;
    /* white-space: pre-wrap; */
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #191919;
  }
  #banner-container .banner-button-circle.b-sellers {
    background: #c2b7a2;
    border-color: #c2b7a2;
    margin: 0px 20px;
  }
  #banner-container .banner-button-circle.b-invite {
    background: #ac9d80;
    border-color: #ac9d80;
  }
  #banner-container .banner-button-circle-text .banner-sub-text {
    font-size: 10px;
    color: rgba(51, 47, 47, 0.8);
    text-transform: none;
    padding-top: 3px;
    line-height: 110%;
    font-weight: 400;
  }
  #q-source-banner {
    position: relative;
    background-color: rgba(216, 209, 194, 0.5);
    /* background-image: url("https://cdn.qalara.com/images/Img_Bird_Outline.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 72vh; */
    text-align: center;
    padding: 30px 0px;
    color: #191919;
    font-family: senregular;
  }
  #q-source-buttons {
    position: relative;
    background-color: rgba(216, 209, 194, 0.5);
    color: #191919;
    text-align: center;
  }
  #q-source-banner .banner-text {
    font-family: Butler;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.7px;
    line-height: 140%;
    color: #332f2f;
    text-align: center;
  }
  .q-source-details {
    display: none;
  }
  .qa-next-line {
    display: block;
    font-size: 12px;
    width: 100%;
    display: inline-block;
    border-radius: 8px;
    margin: 5px 0;
    font-weight: bold;
    color: #191919;
    text-align: center;
  }
  .payment-banner-home-page {
    margin-top: 20px;
    margin-bottom: -20px;
  }
  .q-source-title {
    padding-bottom: 20px;
    margin: 0 5%;
  }
  .ship-home-page {
    margin-top: 15px !important;
    margin-bottom: 45px !important;
  }
  .buyer-notification.qa-bg-dark-theme {
    bottom: 0px;
    position: absolute;
  }
  .steps-container {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 3%;
    font-size: 12px;
    background: #f2f0eb;
    margin: 0px;
    padding: 20px 7px;
    line-height: 140%;
  }
  .source-steps.qa-mr-1 {
    border-right: 6px solid rgba(216, 209, 194, 0.5);
  }
  .source-steps.qa-ml-1 {
    border-left: 6px solid rgba(216, 209, 194, 0.5);
  }
  .source-steps {
    background: #f2f0eb;
    margin-bottom: 12px;
  }
  .q-button-link {
    font-family: senregular;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #87443b;
    text-transform: uppercase;
    margin-top: 15px;
  }
}

.quote-cta-home-page {
  margin-top: 5px;
  margin-bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ship-home-page {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.ant-btn.express-custom-button {
  background-color: #7e473b;
  border-radius: 0;
  font-weight: bold;
  color: hsl(43, 37%, 96%);
  padding: 10px 0px;
  height: 48px !important;
  text-transform: uppercase;
  font-family: senregular;
  width: 220px;
  margin-bottom: 30px;
}
.ant-btn.ready-ship-button,
.ant-btn.custom-button {
  background-color: transparent;
  border: 2px solid #7e473b;
  border-radius: 0;
  font-weight: bold;
  color: #191919;
  padding: 10px 00px;
  height: 48px !important;
  text-transform: uppercase;
  font-family: senregular;
  width: 220px;
  margin-bottom: 30px;
}
.ant-btn.express-custom:hover {
  background-color: #7e473b;
  color: #f9f7f2;
}

.quote-cta-home-page .send-query-button-text {
  color: #191919;
}

.quote-cta-home-page .send-query-button {
  background-color: transparent;
  border-radius: 0;
  border: 2px solid #7e473b !important;
  font-weight: bold;
  color: #191919;
  padding: 10px 60px 30px;
  height: 48px !important;
}

.payment-banner-home-page button.ant-btn {
  background-color: #7e473b;
  border-radius: 0;
  border: none;
  padding: 10px 60px;
  height: 48px !important;
}

.payment-banner-home-page .send-query-button-text {
  color: #f9f7f2 !important;
}

.invite-access-modal
  #send-query-success-modal
  .send-query-success-modal-content {
  padding: 40px 35px 20px 35px;
}
.invite-access-modal #send-query-success-modal p a {
  color: rgba(51, 47, 47, 0.8);
  text-decoration: underline;
}
.invite-access-modal
  #send-query-success-modal
  .send-query-success-modal-button {
  background-color: #d9bb7f;
  width: 80%;
  margin-bottom: 5px;
  border: none;
}
.invite-access-modal
  #send-query-success-modal
  .send-query-success-modal-button:hover {
  border: none;
}
.invite-access-modal #send-query-success-modal .send-query-success-modal-para2 {
  font-size: 14px;
  margin-bottom: 15px;
}

.invite-access-modal .send-query-input {
  /* width: 80%; */
  background: #f9f7f2;
  border: 1px solid #cecbc2;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 24px;
}

.invite-access-modal .send-query-input::placeholder {
  font-family: senregular;
  font-size: 12px;
  color: #332f2f;
  opacity: 0.8;
  letter-spacing: 0.02em;
  line-height: 110%;
}

.invite-access-modal .query-button {
  background-color: #874439;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
  border-radius: 2px;
  margin-bottom: 5px;
  border: none;
  height: 60px;
  width: 100%;
}

.invite-access-modal .send-query-input-width {
  width: 100% !important;
}

.invite-access-modal .query-button-width {
  width: 100% !important;
}

.invite-access-modal .query-submit-button {
  background-color: #f9f7f2;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 5px;
  border: none;
  height: 60px;
}

.invite-access-modal .query-submit-button-width {
  width: 100%;
}

.invite-access-modal .query-submit-button:hover {
  border: 1px solid #874439 !important;
}

.invite-access-modal .ant-form-item {
  padding: 0px 35px;
  width: 100%;
  margin-bottom: 20px;
}

.invite-access-modal .ant-form-item-explain {
  display: flex;
  justify-content: flex-start;
}

.invite-access-modal .ant-form-item-has-error .ant-form-item-explain {
  color: #f01b1b;
  font-family: senregular;
  font-size: 12px;
  opacity: 0.8;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
  .invite-access-modal .ant-form-item {
    padding: 0px 80px;
    width: 100%;
    margin-bottom: 20px;
  }
  .buyer-notification {
    position: absolute;
    right: 4%;
    top: 18vh;
    width: 28%;
  }
}
.ant-btn.banner-button-circle#banner-container,
.ant-btn.banner-button-circle:hover,
.ant-btn.banner-button-circle:focus {
  border-color: transparent !important;
}

.verified-buyer-section {
  margin-left: -17px;
  margin-top: -15px;
}
.buyer-notification .notification-section {
  padding: 24px 15px;
}
.buyer-notification .notification-title {
  font-family: Butler;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #191919;
}
.buyer-notification .notification-para {
  font-family: senregular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .home-banner-head-text {
    font-size: 32px !important;
    line-height: 130%;
  }
  .home-signup-btn .sign-up-text {
    font-size: 15px;
    letter-spacing: 0.06em;
  }
  .second-img-head {
    font-size: 30px !important;
    line-height: 130% !important;
  }
  .second-img-subhead {
    font-size: 16px !important;
    line-height: 130% !important;
  }
  .home-banner-small-text {
    font-size: 14px;
    line-height: 130%;
  }
}

@media only screen and (max-width: 360px) {
  #banner-container .banner-button-circle.b-sellers {
    margin: 0 10px;
  }
  #banner-container .banner-button-circle {
    margin-right: 0px;
    /* top: 65vh; */
    top: 420px;
  }
}
@media only screen and (max-width: 320px) {
  .hot-weel-crousel img {
    width: 180px;
  }

  #banner-container .banner-button-circle {
    left: 2%;
    margin-right: 0px;
    /* top: 75vh; */
    top: 400px;
  }
  #banner-container .banner-button-circle.b-sellers {
    margin: 0px 10px;
  }
  .second-img-head {
    font-size: 28px !important;
    line-height: 130% !important;
  }
}

.supplier-text {
  font-family: senregular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.72px;
  color: #f9f7f2;
}
.q-source-details {
  font-family: Butler;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.7px;
  color: #191919;
  margin: 10px 80px 40px;
}
/* .qa-fixed-btns {
position: absolute;
bottom: 20px;
right: 25%;
} */
@media only screen and (max-width: 280px) {
  .home-banner-head-text {
    font-size: 28px !important;
  }
}
