.icon-theme-1 path {
    /* fill: #d9bb7f; */
    stroke: #d9bb7f;
}

.icon-theme-1 circle {
    fill: #d9bb7f;
    stroke: #d9bb7f;
} 

.icon-theme-1 rect {
    /* fill: #d9bb7f; */
    stroke: #d9bb7f;
} 

/* .icon-theme-1:hover path {
    stroke: #332f2f;
}

.icon-theme-1:hover circle {
    fill: #d9bb7f;
    stroke: #332f2f;
} 

.icon-theme-1:hover rect {
    stroke: #332f2f;
}  */

/* .icon-theme-1::selection path {
    stroke: #332f2f;
}

.icon-theme-1::selection circle {
    fill: #d9bb7f;
    stroke: #332f2f;
} 

.icon-theme-1::selection rect {
    stroke: #332f2f;
} */



/* .icon-theme-1:first-child path {
    stroke: #332f2f;
}

.icon-theme-1:first-child circle {
    fill: #d9bb7f;
    stroke: #332f2f;
} 

.icon-theme-1:first-child rect {
    stroke: #332f2f;
} */