/** @format */

#user-account .download-invoice-btn {
  background: #d9bb7f;
  border-radius: 0px;
  /* height: 6vh; */
  min-width: 35%;
  font-size: 14px;
  font-family: senregular;
  font-weight: bold;
  color: #191919;
  text-transform: uppercase;
  border: none;
}

#user-account .download-invoice-btn:hover,
#user-account .download-invoice-btn:active,
#user-account .download-invoice-btn:focus {
  background: #d9bb7f !important;
  color: #191919;
}

#user-account .download-invoice-btn:disabled {
  background: #c4c4c4 !important;
  color: rgba(25, 25, 25, 0.65);
  border: 1px solid transparent;
  border-color: #c4c4c4 !important;
}

#user-account .download-invoice-btn-mob:disabled,
#user-account .download-invoice-btn-mob:disabled:hover,
#user-account .download-invoice-btn-mob:disabled:active,
#user-account .download-invoice-btn-mob:disabled:focus {
  background: #c4c4c4 !important;
  color: #191919;
}

#user-account .download-section {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding: 10px 20px;
}

#user-account .first-row {
  margin-bottom: 10px;
}

#user-account .seller-name {
  display: flex;
  align-items: center;
}

#user-account .download-invoice-btn-mob {
  background: #d9bb7f;
  border-radius: 0px;
  /* height: 6vh; */
  /* min-width: 35%; */
  font-size: 12px;
  font-family: senregular;
  font-weight: bold;
  color: #191919;
  text-transform: uppercase;
  border: none;
}

#user-account .download-invoice-btn-mob:hover,
#user-account .download-invoice-btn-mob:active,
#user-account .download-invoice-btn-mob:focus {
  background: #d9bb7f !important;
}

#user-account .orders-breadcumb .breadcrumb-text {
  font-family: senregular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #d9bb7f;
}

#user-account .retry-payment-btn {
  background: #874439;
  border-radius: 0px;
  /* height: 6vh; */
  min-width: 35%;
  font-size: 14px;
  font-family: senregular;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  border: none;
}

#user-account .retry-payment-btn:hover {
  background: #874439 !important;
  color: #f9f7f2;
}

#user-account .retry-payment-btn-mob {
  background: #874439;
  border-radius: 0px;
  /* height: 6vh; */
  min-width: 35%;
  font-size: 14px;
  font-family: senregular;
  font-weight: bold;
  color: #191919;
  text-transform: uppercase;
  border: none;
}

#user-account .retry-payment-btn-mob:hover {
  background: #874439 !important;
  color: #f9f7f2;
}

#user-account .show-more-circle {
  background: #191919;
  opacity: 0.7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#user-account .circle-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#user-account .qa-order-first {
  padding: 10px 20px;
  background-color: #f2f0eb;
}
@media only screen and (max-width: 320px) {
  .download-invoice-btn-mob span {
    font-size: 10px;
  }
}


/**** New Order view *****/
.order-menu{
  margin-bottom: 30px;
}
.order-menu .ant-menu-item {
  padding: 0 !important;
  margin: 0 40px !important;
  border-bottom: 4px solid transparent !important;
  line-height: 38px;
}
.order-menu .ant-menu-item-selected {
  border-bottom: 4px solid #874439 !important;
}

.order-menu .ant-menu {
    background: #f9f7f2;
}
.order-menu .ant-menu-item span {
    color: #191919;
}
.order-menu .ant-menu-item-selected span {
    color: #874439!important;
    font-weight: bold;
}
.order-menu .ant-menu-horizontal {
    border-bottom: 0.5px solid #c4c4c4;
}

.order-card-container{
  background:#F2F0EB;
  border-radius: 5px;
  border: 1px solid #ddd;
  
}
.order-card-header{
  background-color: #E6E4DF;
  padding: 15px 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.order-card-body{
  padding: 18px 23px;
  display: flex;
  flex-direction: column;
}
.order-card-body img {
    height: 78px;
    width: 90px;
}
.order-card-details-tile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 14px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(25, 25, 25, 0.3);
}
.order-card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.track-link{
    line-height: 16px;
    text-decoration: underline;
    font-weight: bold;
}
.place-hold{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  color: #fff;

}
.place-hold:before{
  content: "";
  position: absolute;
  background-color: #191919;
  opacity: 0.7;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.click-icon-wrp{
  margin-right:10px;
  display: flex;
  align-items: center;
}
.track-cross{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #F9F7F2;
  background: #332F2F;
  justify-self: center;
  border-radius: 10px;
}
.ant-modal-close-x{
  display: flex;
    justify-content: center;
    align-items: center;
}
