@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Sen&display=swap');


:root {
    --font-family: 'Sen';
    --color: #191919;
}
#order-sheet{
    font-family: "Butler";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.2800000011920929px;
    text-align: left;
    color: var(--color)
}
.card-border {
    width: 169%;
    border:18px solid #E6E4DF;
}

#order-sheet-details{
    font-family: var(--font-family);;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25.45px;
    letter-spacing: 0.28px;
    color: var(--color)
}
#details-header{
    font-family: 'Butler';
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: var(--color)
}
#order-details{
    font-family: var(--font-family);;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28.45px;
    letter-spacing: 0.28px;
    color: var(--color)
}
#order-summary{
    font-family: "Butler";
    font-size: 19px;

}
#order-currency{
    font-family: var(--font-family);;
    font-size: 17px;
    font-weight: bolder;
}
#order-summary-details{
    font-size: 14px;
    font-family: var(--font-family);;
    line-height: 28px;
    width: 100%;
}
#order-summary-details-green{
    color: #02873A;
    font-weight:600;
}
#total-order-value{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    line-height: 9.7px;
}
#reviewBtn{
    background: #D9BB7F;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: #000000;
}
#paynow{
    margin: "15px";
    color: #005098;
    font-family: Sen;
    font-weight: 700;
    line-height: 12px;
    margin-top: 11px;
}
#paylater{
    color: var(--color);
    font-size: 17px;
    font-weight: 400;
    margin-top: 5px;
}

#buyerValidate{
    margin: 1px;
    margin-bottom: 1px;
    width: 70%;
    background: #F9F7F2;
    border: 1px solid rgba(25, 25, 25, 0.3);
    border-radius: 3px 0px 0px 3px;
}



#previous-version{
    border: 1px solid #D9BB7F;
    width: 70%;
    height: 46px;
    background:#F9F7F2;
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 14px;
    color: #000000;
    line-height: 6px;

}

#review-checkout{
    background: #D9BB7F;
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--color);
    line-height: 6px;
    height: 46px;
    color: #000000;
}
#delivery-time{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: #02873A
}
#shipping-details-time{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #191919;
}

#secure-msg{
    font-family: "Butler";
    font-size:15px;
    margin-left: 6%;
    /* font-weight: 600; */

}
#paylater1{
    font-family: var(--font-family);
    font-size:14px;
    color: #005098;
    font-weight: bolder;
    margin-left: 16%;
    margin-top: -17px!important;
}
#estimated-date{
    color: var(--color);
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 17px;
}

#estimated-time{
    color: rgba(25, 25, 25, 0.6);
    font-family:var(--color);
    font-size: 14px;    
}


#disclamer{
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    color: var(--color);
}
th{
    width: 16%;
    font-family: var(--font-family);
    font-weight: normal;
    border: 1px solid rgb(204, 204, 204);
    background: rgba(0, 0, 0, 0.05);
} 
td{
    width: 16%;
    border: 1px solid rgb(204, 204, 204);
    font-family: var(--font-family);
    font-weight: normal; 
} 
th span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
}

td span{
    display: flex;
    justify-content: center;
    align-items: center;   
    color: #000000; 
    font-family: var(--font-family);
}

.ant-modal-close-x{
    background: #332F2F;
    border-radius: 11px;
    margin-top: 11px;
    margin-right: 12px;
    color: white;
    height: 40px;
    width: 40px;
}
.order-details-name{
    line-height: 32px;
}
.ant-modal-title{
    font-family: 'Sen';
    margin-top: 15px;
    font-size: 15px;
    font-weight: 600;
   
}

@media only screen and (max-width: 600px) {
    #card {
        width: 310px !important;    
    }
    #mobile-view{
        margin-top: 15px;
    }
    #order-sheet-details{
        margin-top: 10px;
    }
 
    #order-details{
        display: flex !important;
        justify-content: space-between !important;
        align-items: flex-start;
        font-size: 14px;
        line-height: 18.45px;
        letter-spacing: 0.28px;
    }
    #previous-version{
        width: 100% !important;
        margin-bottom: 10px;
    }
    #estimated-date{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        color: var(--color);
    }
    #delivery-time{
        font-size: 14px !important;
    }
    #estimated-time{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #final-checkout{
        margin-top: 25px;
    }
    #mobile-popup{
        font-size: 11px !important;
        font-weight: 600;
    }
  }