/** @format */

.shipping-button {
  width: 100%;
  background: #d9bb7f;
}
.shipping-button:hover {
  background: #d9bb7f;
}
.cart-section .shipping-section .cart-info-text {
  text-align: left;
}
.shipping-section .qa-horizontal-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.shipping-section .shipping-mode-section .cart-prod-name {
  font-size: 14px;
}
.shipping-section .shipping-mode-section .cart-prod-title {
  font-size: 12px;
}
.payment-section .payment-subtitle {
  display: block;
  margin-left: 24px;
}
.payment-section .cart-info-text {
  text-align: left;
}
.payment-section .ant-radio-group.ant-radio-group-outline {
  width: 100%;
}

.sen-font {
  font-family: senregular !important;
}

.font-bold {
  font-weight: bold !important;
}
.shipping-section .shipping-mode-section {
  border: 2px solid #f9f7f2;
}
.shipping-section .shipping-mode-section.selected {
  border: 2px solid #d9bb7f;
}
.shipping-section .p-out-of-stock {
  position: relative;
  bottom: 0px;
}
.shipping-section .qa-no-ship {
  color: #191919;
  line-height: 140%;
}
.shipping-section .qa-ship-section {
  background: #f2f0eb;
  box-shadow: 0px 0px 2px rgba(25, 25, 25, 0.2),
    0px 1px 1px rgba(25, 25, 25, 0.2);
}
.cart-section .shipping-section .c-left-blk {
  width: 65%;
  vertical-align: middle;
}
.cart-section .shipping-section .c-right-blk {
  width: 35%;
  vertical-align: middle;
}
.cart-price-block .coupon-btn {
  height: 44px;
  background: #d9bb7f;
  border: 1px solid #d9bb7f;
}
.cart-price-block .coupon-box {
  height: 44px;
  background: #f9f7f2;
  border-radius: 3px 0px 0px 3px;
}
.cart-price-block .ant-form-item {
  margin-bottom: 0px;
}
.cart-price-block .coupon-btn-inactive {
  background: #c4c4c4;
  color: rgba(25, 25, 25, 0.4);
  height: 44px;
}
@media only screen and (max-width: 768px) {
  .cart-section .shipping-section .c-left-blk,
  .cart-section .shipping-section .c-right-blk {
    vertical-align: top;
  }
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
  .cart-section .min-width-320px {
    width: 230px;
  }
  .cart-section .shipping-section .c-left-blk,
  .cart-section .shipping-section .c-right-blk {
    white-space: break-spaces;
  }
}
.cart-section .shipment-term-subtitle {
  font-family: senregular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.28px;
  color: #191919;
}
.cart-section .shipping-section .edd-section .c-left-blk,
.cart-section .shipping-section .edd-section .c-right-blk {
  font-size: 12px;
}
.cart-section .shipping-section .edd-section .c-left-blk {
  width: 52%;
}
.cart-section .shipping-section .edd-section .c-right-blk {
  width: 40%;
}
.edd-section li div {
  position: relative;
  left: -8px;
}
